.deploy-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 8%;
  align-items: center;

  .deploy-btn {
    background-color: rgb(223, 223, 223);
    color: black;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
    outline: none;
    font-size: 1.1em;
    width: 85%;
    border: none;
    border-radius: 6px;
    margin-bottom: 0.6em;
    transition: background-color 0.2s;

    .deployment-title {
      font-size: 1em;
      padding-left: 0.5em;
    }
    .open-button {
      float: left;
      transform: translate(14px, 12px);
      color: $primary-color;
    }
    .deployment-button {
      float: left;
      transform: translate(14px, 12px);
      color: $primary-color;
    }
    span {
      margin-right: 5px;
    }

    &:hover {
      cursor: hand;
      cursor: pointer;
      color: black;
      background-color: darken($fourth-color, 10%);
    }
    &:active {
      background-color: darken($fourth-color, 25%);
    }
  }
}

.status-container {
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 5%;
  width: 11em;
  color: white;
}

#compose-deploy-div {
  margin-bottom: 8%;
}

.deployment-status {
  display: inline-flex;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid;
  font-size: 1.7em;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.start-button {
  color: red;
  margin-right: 0.9em;
  margin-left: 0.1em;
}
.stop-button {
  color: red;
  margin-right: 0.9em;
  margin-left: 0.1em;
}

.health-icon {
  margin-left: 0.5em;
  color: $primary-color;
  &.green {
    color: rgb(6, 122, 6);
  }
}

.status-healthy {
  border-color: rgb(140, 170, 194);
  background-color: rgb(140, 170, 194);
  &.status-active {
    background-color: rgb(9, 247, 9);
  }
}

.status-moderate {
  border-color: rgb(140, 170, 194);
  background-color: rgb(140, 170, 194);
  &.status-active {
    background-color: rgb(246, 246, 8);
  }
}
.status-dead {
  border-color: rgb(140, 170, 194);
  background-color: rgb(140, 170, 194);
  &.status-active {
    background-color: rgb(253, 7, 7);
  }
}

.button-container:hover {
  cursor: hand;
  cursor: pointer;
  color: $fifth-color;
}

.clickable-status:hover {
  cursor: hand;
  cursor: pointer;
}

.deployment-title:hover {
  cursor: hand;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}
.hidden {
  visibility: hidden;
}

.health-spinner {
  animation: rotate 2s linear infinite;
  width: 24px;
  height: 24px;
  margin-right: 11px;

  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
