
//pop-up div
.swarm-deploy-popup {
  visibility: hidden; 
  position: absolute; 
  width: 30em; 
  height: 15em; 
  top: 40%;
  left: 40%;
  background-color: #DfE9FD;
  border: solid 1px #013874;
  // border-radius: 20px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

  .button-and-other-divs {
    // background-color: gainsboro;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: space-between;
  }

  .exit-swarm-deploy-box {
    margin-right: 0.4em;
    margin-top: 0.2em;
    background-color: red;
    color: white;
    font-size: 1.5em;
    
  }
  .exit-swarm-deploy-div {
    background-color: $primary-color;
    display: flex;
    flex-direction: row-reverse;
    button {
      outline: none;
      margin-bottom: 0.2em;
      border: none;
    }
  }
  .popup-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: 12%;

    .initialize-swarm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      #stack-name-label {
        color: teal;
        font-size: 1.5em;
        margin-top: 0.2em;
        padding: 7px;
      }
    
      .stack-name {
        border-radius: 10px;
        height: 1.5rem;
        font-size: 1em;
        padding: 5px;
        margin-bottom: 6px;
      }
    
      .stack-name:focus, textarea:focus, select:focus {
        outline: none;
      }
    
      .create-swarm {
        background-color: teal;
        color: white;
        font-size: 1.2em;
        width: 40%;
        border-radius: 10px;
      }
    }
    .swarm-spans {
      margin-bottom: 1em
    }

    .error-div {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;

      .error-p {
        color: red;
      }
      .swarm-btn {
        background-color: teal;
        color: white;
        font-size: 1.2em;
        width: 40%;
        border-radius: 10px;
      }
    }

    .success-div {
      width: 100%;
      height: 105%;
      // padding-top: 1.8em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .success-p {
        color: green;
        font-size: 1.1em;
      }

      .add-stack-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -5%;

        .new-stack-name-label {
          color: teal;
          font-size: 1em;
          margin-top: 0.2em;
          padding: 5px;
        }

        .add-stack-btn {
          background-color: teal;
          color: white;
          font-size: 1em;
          width: 50%;
          border-radius: 10px;
          margin: 1em;
        }
      }
    }
  }

}

